header {
    background-color: #fd7e14;
    border: 10px solid deepskyblue;
    color: #0dcaf0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
}

.full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    color: #dc3545;
}

.full-height h1 {
    font-size: 25px;
}

.full-height p {
    font-size: 16px;
}
#section1 img,
#section2 img,
#section3 img {
    width: 100%;
    height: auto;
}

#section1 img{
    width: 1000px;
    border: 20px solid #FF5733;
}

#section2 img{
    width: 1000px;
    border: 20px solid #FF5733;
}

#section3 img{
    width: 1000px;
    border: 20px solid #FF5733;
}
