header {
    background-color: #000000;
    border: 10px solid white;
    color: #ffffff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
}

.full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.full-height h1 {
    font-size: 35px;
}

.full-height p {
    font-size: 16px;
}
#section1 img,
#section2 img,
#section3 img {
    width: 100%;
    height: auto;
}

#section1 img{
    width: 1000px;
    border: 20px solid #ffffff;
}

#section2 img{
    width: 1000px;
    border: 20px solid #ffffff;
}

#section3 img{
    width: 1000px;
    border: 20px solid #ffffff;
}

.mapouter{
    margin-top: 10px;
    justify-content: right;
    margin-left: 18%;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    .mapouter{
        height: auto ;
        width: auto;

    }
}


